# Виртуальное окружение
venv/
.venv/
env/

# Python кеш
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Логи
*.log
arcparse_log.txt

# Скачанные сырые конфиги (генерируются автоматически)
rawconfigs/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Server
server/

# Qwen
.qwen/
